.root{
    width: 100%;
    height: 100%;
}

:global{
    .ant-carousel .slick-slider {
        text-align: center;
        height: 60px !important;
        line-height: 60px;
        font-size:14px;
        font-family:SimHei;
        color: #CDCDCD;
      }
    }