.root{
    width: 100%;
    height: 100%;
}

.carousel{
    :global{
        .ant-carousel .slick-slider {
            height: 60px;
            line-height: 60px;
            font-size:14px;
            font-family:SimHei;
            color: #CDCDCD;
          }
          .slick-list{
            height: 60px;
          }
        }
}
