.root{
    border-bottom: 1px solid rgba(35,48,68,1);
    margin: 13px 0;
}
.msg{
    font-size:14px;
    font-family:PingFangSC-Regular;
    color:rgba(161,178,196,1);
    line-height:22px;
}

.msg:hover{
    color: #78ADFF;
}

.time{
    height:17px;
    font-size:12px;
    font-family:PingFangSC-Regular;
    color:rgba(108,127,156,1);
    line-height:17px;
    text-align: right;
    margin: 13px 0
}