:global{
    .OtherRecharge .ant-input{
        height: 40px;
    }
    .OtherRecharge .ant-input:focus{
        border-color:#FDCC39;
    }
    .OtherRecharge .ant-input:hover{
        border-color:#FDCC39;
    }
    .otherRecharge{
        text-align: center;
    }
    .otherRecharge .ant-btn.ant-btn-primary{
        height: 40px;
        background-color: #FDCC39;
        border:none;
        width: 50%;
    }
}
.content{
    width: 40%;
    margin: 0 auto;
    padding: 30px 20px;
}
.title{
    font-size: 28px;
    text-align: center;
    color: #FDCC39;
    padding-bottom:14px;
    
    border-bottom: #FDCC39 solid 1px;
}
.cztext{
    padding: 14px;
    font-size: 16px;
}
.copy{
    padding: 16px 0;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.copy:hover{
    color: #FDCC39;
}
._text{
    padding: 16px 0;
    font-size: 16px;
    display: inline-block;
    color: #FDCC39;
}