:global{
    .asset_btn.SecurityCenter_btn.ant-btn-primary{
        margin-top: 0px;
        float: right;
    }
}
.card{
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 7px 0px rgba(160,160,160,0.5);
    margin-bottom: 24px;
    padding: 29px 59px;
}
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5){
    margin-top: 24px;
}
.rowF{
    margin: 14px 0;
}
.rowF_title{
    font-size: 14px;
    font-weight: 700;
    color: #444;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.yz_title{
    line-height: 23px;
}
.yz_title span:nth-child(1){
    font-size:23px;
    padding: 6px;
    font-family:PingFangSC-Semibold;
    color:rgba(86,86,86,1);
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    background:rgba(253,204,57,1);
}
.yz_title span:nth-child(2){
    line-height: 35px;
    display: inline-block;
    margin-left: 14px;
    font-size:18px;
    font-family:PingFangSC-Semibold;
    color:rgba(86,86,86,1);
    vertical-align: top;
}
.yz_content{
    height: 20px;
    margin-top: 28px;
}
.yz_check{
    width:20px;
    height:20px;
    background:rgba(253,204,57,1);
    border-radius: 50%;
    line-height: 20px;
}