
.input{
    :global{
        .ant-input{
            background-color:rgba(32,38,55,1);
            border:1px solid rgba(81,110,155,1);
            border-radius:4px;
            height:38px;
            width: 100%;
            font-size:16px;
            font-family:PingFangSC-Regular;
            color:rgba(120,173,255,1);
        }

        .ant-input:focus{
            background:rgba(32,38,55,1);
            border:1px solid rgba(120,173,255,1);
        }
    }
}

.usable{
    margin-top: 14px;
    line-height: 22px;
    height: 22px;
    width: 100%;
    font-size:16px;
    font-family:PingFangTC-Regular;
    color:rgba(161,178,196,1);
}

.tradAction{
    height: 20px;
    margin: 10px 0;
    line-height: 20px;
    font-size:12px;
    font-family:MicrosoftYaHei;
    color:rgba(81,110,155,1);
}

.fold{
    width:100%;
    height:26px;
    background:rgba(203,229,255,0.14);
    border-radius:4px;
    padding: 4px 11px;
}

.sum{
    height:52px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(161,178,196,1);
    line-height:22px;
    padding: 15px 0;
}

button{
    outline: none;
    border: none;
}

.sellButton{
    width:100%;
    height:40px;
    background:#5ABC29;
    width: 100%;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:#FFFFFF;
    border-radius:4px;
}

.sellButton:hover{
    background:#349B00;
}
.sellButton:disabled{
    //background:rgba(0,0,0,0.3);
    cursor:not-allowed;
}

.buyButton{
    width:100%;
    height:40px;
    background:#FF6E3B;
    width: 100%;
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:#FFFFFF;
    border-radius:4px;
}

.buyButton:hover{
    background:#FF4200;
}

.buyButton:disabled{
    cursor:not-allowed;
}

button:active{
    position: relative;
    top: 1px
}