
.headerNa{
    display: flex;
    justify-content:space-between ; 
    align-content: center;
    height: 80px;
    background:rgba(35,35,35,1);
    box-shadow:5px 0px 5px rgba(0,0,0,0.18);
    font-size: 18px;
    .leftNav{
       display: flex;
       flex-direction: row;
       align-items: center;
    }
    img{
        margin-left: 30px;
    }

    .text{
        display: flex;
        flex-direction: row;
    }
    span:hover{
        color:rgba(254,204,57,1);
    }
    span{
        font-size: 16px;
        margin-left: 5px;
        line-height: 22px;
        color:rgba(205,205,205,1);
        cursor: pointer;
    }

    .language{
        display:flex;
        align-items: center;
        width: 140px;
        height: 30px;
        border: 1px solid rgba(86,86,86,1);
        border-radius: 8px;
    }
    select:visited{
        border: none;
    }
    select{
        background: rgba(35,35,35,1);
        font-size: 18px;
        color: aliceblue;
        border: none;
        outline: none;
    }
    option{
        width:58px; 
        font-size:18px;
        font-family:ArialMT;
        color:rgba(86,86,86,1);
        line-height:22px; 
    }
}