.action{
    position: absolute;
    margin-left: 20px;
    bottom: 10px;
  cursor: pointer;
    span{
        font-size:14px;
        font-family:MicrosoftYaHei;
        color:#3E3E3E;
    }
    span:hover{
       color:#78ADFF
    }
}
