
.login {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 420px;
}

.dl{
  width:336px;
    height:16px;
    font-size:18px;
    font-family:PingFangSC-Semibold;
    line-height:16px;
    margin-bottom: 20px;
    color: #FDCC39;
  text-align: center;
}

.tooltip {
    position: absolute;
    top: 40px;
    left: 450px;
    width: 220px;
    height: 300px;
    div{
      font-size: 13px;
      line-height: 24px;
      color: #FFFFFF;
    }
}


.errP{
    height:13px;
    font-size:12px;
    font-family:PingFangSC-Regular;
    color:rgba(255,66,0,1);
    line-height:13px;
    margin: 10px 0px;
    text-align: right;
}

a{
    text-decoration: underline;
    font-size: 13px;
    color: #FFFFFF;
}
.logBtn:active{
    top: 1px;
    position: relative;
}

